nav {
    margin: 0px;

    border: 3px solid #2d3e50;
    border-radius: 5px;
    background-color: #3a4a63;
}

nav ul.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;

}

li {
    margin: auto;
    border: 3px solid #2d3e50;
    border-radius: 5px;
    background-color: #4a5c73;
}

a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

a:hover {
    color: #ff6347;
}

body {
    background-color: #ecf0f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#sectioninleiding {
    background-color: #ffffff;
    width: 80%;
    height: 50%;
    margin-left: 180px;
    border: 3px solid #2d3e50;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #2d3e50;
}

section {
    background-color: #ffffff;
    width: 80%;
    height: 50%;
    margin-left: 180px;
    border: 3px solid #2d3e50;
    border-radius: 5px;
    margin-top: 30px;
}

img {

    width: 50%;
    height: 50%;

}

#foto {
    height: 40%;
    width: 40%;
    text-align: center;
    margin-left: 25%;

}

#fotohome {
    width: 100%;
    height: 400PX;
    margin: 0px;
}

#sectiehome {
    width: 100%;
    border: none;
    background-color: #ecf0f1;

}

header {
    margin: 0px;
}

aside {
    float: right;
    width: 30%;


}

#dag1 {
    width: 100%;
    height:919px ;
    border: solid 2px black;
    border-radius: 5PX;
margin-top: 30px;
}

article {
    width: 70%;
    
}
#Index{
    margin-left: 150px;
}
footer{
background-color: #2d3e50;;
height: 50px;
border: 3px solid #2d3e50;
border-radius: 5px;
}